.container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 1px black;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
.fonts-a{
  font-family: Arial, Helvetica, sans-serif;
}
.fonts-b{
  font-family: 'Times New Roman', Times, serif
}
.title {
  line-height: 10px;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 100;
  gap: 20px;
}
.buttons button {
  padding: 15px 25px;
}

.buttons-brand-a button:first-child {
  background-color: #d2b99b;
  color: white;
  border: 1px solid #d2b99b;
}
.buttons-brand-a button:last-child {
  background-color: white;
  color: #d2b99b;
  border: 1px solid #d2b99b;
}

.buttons-brand-b button:first-child {
  background-color: #0057b7;
  color: white;
  border: 1px solid #0057b7;
}
.buttons-brand-b button:last-child {
  background-color: white;
  color: #0057b7;
  border: 1px solid #0057b7;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .title {
    width: 100%;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    gap: 50px;
  }
  .title {
    width: 40%;
  }
}
